body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  background-color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}

.landing {
  background: url("./images/road1.jpg") no-repeat center center/cover;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logcard {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 230, 195);
  font-size: 1.5em;
  text-shadow: 2px 2px black;
}

.logform {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
}

.mylink {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 15px;
  text-decoration: none;
  background-color: rgba(211, 192, 28, 0.1);
  border-radius: 10%/50%;
  color: rgb(231, 230, 195);
  border: 2px solid rgb(231, 230, 195);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.mylink:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  transform: translate(2px);
  background-color: rgb(231, 230, 195, 0.9);
  padding: 10px 20px;
  color: rgba(211, 192, 28, 1);
  border: 2px solid rgba(211, 192, 28, 1);
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.myform {
  width: 400px;
  height: 400px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.formitem {
  width: 80%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
}
.item {
  height: 30%;
  font-size: 1em;
  text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
}
.loginbtn {
  padding: 10px 40px;
  border-radius: 10%/50%;
  font-size: 1em;
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
.loginbtn:hover {
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.inputtext {
  padding: 10px 0;
  background-color: #00b4d8;
  border-radius: 5%;
  box-decoration-break: inherit;
  font-size: 1em;
  color: #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  border: 2px solid #caf0f8;
  border-radius: 5%;
  text-align: center;
}

.inputtext:focus {
  outline: none;
}
.myform2 {
  width: 400px;
  height: 500px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.mainsection {
  background-color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.mynavbar {
  width: 100%;
  height: 60px;
  background-color: #caf0f8;
  color: #00b4d8;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}
.navbuttons {
  display: flex;
  width: 450px;
  flex-direction: row;
  justify-content: space-evenly;
  flex-shrink: 0;
}
.navtitle {
  width: 150px;
  height: 50px;
  align-items: center;
  text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}
.navbtnmain {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.loginbtn {
  padding: 10px 30px;
  border-radius: 10%/50%;
  font-size: 0.9em;
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.loginbtn:hover {
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.addsection {
  width: 100%;
  height: 440px;
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
}
.mymainform {
  width: 400px;
  height: 400px;
  margin: 0 20px 0 20px;
  flex-shrink: 0;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}

.selectbtn {
  outline: none;
}

.adddriver {
  width: 600px;
  height: 400px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.adddriverleft {
  width: 290px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.adddrivername {
  display: flex;
  align-items: center;
  justify-content: center;
}
.adddriverphoto {
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(0, 119, 182, 0.3);
  border: 2px solid #caf0f8;
}
.adddriverright {
  width: 180px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.addvehicle {
  width: 400px;
  height: 400px;
  margin: 0 0 0 20px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}

.addvehicleall {
  height: 340px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.addvehicletitle {
  width: 340px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.addvehiclecontent {
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.addvehiclecontentleft {
  width: 150px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.addvehiclecontentright {
  width: 180px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.adddestination {
  width: 400px;
  height: 400px;
  margin: 0 20px 0 20px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.adddestinationall {
  height: 340px;
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.adddestinationtitle {
  margin-top: 10px;
  width: 340px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adddestinationcontent {
  margin-top: 30px;
  width: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.destinationname {
  width: 270px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.destinationdescription {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.destintitle1 {
  display: flex;
  align-items: center;
  width: 100%;
  height: 70%;
  margin: 5px 0 5px 0;
}
.destincontent1 {
  width: 100%;
  height: 20%;
  position: relative;
  word-wrap: break-word;
  margin: 5px 0 5px 0;
}
.destintitle2 {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: 100%;
  height: 20%;
  margin: 15px 0 1px 0;
}
.destincontent2 {
  width: 100%;
  height: 60%;
  margin: 5px 0 5px 0;
  position: relative;
  word-wrap: break-word;
}

.myadds {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}
.checkbtn {
  padding: 10px 30px;
  border-radius: 10%/50%;
  font-size: 0.9em;
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  transition: all 0.3s ease 0s;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.checkbtn:hover {
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  cursor: pointer;
}
.mycheckbtn {
  margin: 20px 0 0 20px;
  display: flex;
  align-items: center;
}
.itineraries {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: center;
}
.itinerary {
  width: 400px;
  height: 500px;
  margin: 20px 20px 20px 20px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}

.cardtitle {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardphoto {
  width: 250px;
  height: 250px;
}
.carddriver {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardcar {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardtimer {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cardbtns {
  width: 380px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.myform3 {
  width: 400px;
  height: 600px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.myform4 {
  width: 400px;
  height: 700px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.usersettings {
  width: 1024px;
  height: 768px;
  margin: 20px 20px 20px 20px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.settingsinsideleft {
  width: 512px;
  height: 768px;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.settingsinsideright {
  width: 512px;
  height: 768px;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.settingsinside {
  width: 512px;
  height: 384px;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.settingscontent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
  width: 512px;
  height: 64px;
}
.itemphotomain {
  display: flex;
  height: 30%;
  align-items: center;
  justify-content: center;
}
.itemphoto {
  box-decoration-break: none;
  font-size: 1em;
  background-color: #caf0f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
::-webkit-file-upload-button {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10%/50%;
  font-size: 0.9em;
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  transition: all 0.3s ease 0s;
}
::-webkit-file-upload-button:hover {
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  cursor: pointer;
}
.formitemphoto {
  height: 52%;
}

.myspan {
  padding: 5px;
}
.fixnav {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 1025px) {
  body {
    font-size: 0.6em;
  }
  .title {
    text-shadow: 1px 1px black;
  }
  .mylink {
    padding: 5px 10px;
    margin: 0 7.5px;
    border: 1px solid rgb(231, 230, 195);
    box-shadow: : 0px 4px 7.5px rgba(0, 0, 0, 0.1) ;
  }
  .mylink:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.7);
  transform: translate(1px);
  padding: 5px 10px;
  border: 2px solid rgba(211, 192, 28, 1);
  }
  .myform {
    width: 200px;
    height: 200px;
    box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  }
  .item {
    text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  }
  .loginbtn {
    padding: 5px 20px;
  border-radius: 10%/50%;
  border: 1px solid #caf0f8;
  box-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3);
  }
  .loginbtn:hover {
    border: 1px solid #00b4d8;
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.1);
  }
  .inputtext {
    padding: 5px 0;
    box-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3);
    border: 1px solid #caf0f8;
  }
  .myform2 {
    width: 200px;
    height: 250px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .mynavbar {
    height: 30px;
    background-color: #caf0f8;
    color: #00b4d8;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .navbuttons {
    width: 225px;
  }
  .navtitle {
    width: 75px;
    height: 25px;
    text-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3);
  }
  .addsection {
    height: 220px;
    text-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3)
  }
  .mymainform {
    width: 200px;
    height: 200px;
    margin: 0 10px 0 10px;
    flex-shrink: 0;
    background-color: #caf0f8;
    border-radius: 5%;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .adddriver {
    width: 300px;
    height: 200px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .adddriverphoto {
    box-shadow: 0 1px 5px 2.5px rgba(0, 119, 182, 0.3);
    border: 1px solid #caf0f8;
  }
  .adddriverleft {
    width: 145px;
    height: 160px;
  }
  .adddriverright {
    width: 90px;
    height: 160px;
  }
  .addvehicle {
    width: 400px;
    height: 400px;
    margin: 0 0 0 10px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .addvehicleall {
    height: 170px;
    width: 170px;
  }
  .addvehicletitle {
    width: 170px;
    height: 20px;
  }
  .addvehiclecontent {
    width: 135px;
    height: 150px;
  }
  .addvehiclecontentleft {
    width: 75px;
    height: 150px;
  }
  .addvehiclecontentright {
    width: 90px;
    height: 150px;
  }
  .adddestination {
    width: 200px;
    height: 200px;
    margin: 0 10px 0 10px;
    background-color: #caf0f8;
    border-radius: 5%;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .adddestinationall {
    height: 170px;
    width: 170px;
  }
  .adddestinationtitle {
    margin-top: 5px;
    width: 170px;
    height: 15px;
  }
  .adddestinationcontent {
    margin-top: 15px;
    width: 135px;
    height: 150px;
  }
  .destinationname {
    width: 135px;
    height: 20px;
  }
  .destintitle1 {
    margin: 2.5px 0 2.5px 0;

  }
  .destincontent1 {
    margin: 2.5px 0 2.5px 0;

  }
  .destintitle2 {
    margin: 7.5px 0 0.5px 0;
  }
  .destincontent2 {
    margin: 2.5px 0 2.5px 0;
  }
  .checkbtn {
    padding: 5px 15px;
    border: 1px solid #00b4d8;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.2);
  }
  .checkbtn:hover {
    border: 1px solid #caf0f8;
    box-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3);
  }
  .mycheckbtn {
    margin: 10px 0 0 10px;
  }
  .itineraries {
    margin-top: 10px;
  }
  .destinationdescription {
    width: 135px;
    height: 75px;
  }
  .itinerary {
    width: 200px;
    height: 250px;
    margin: 10px 10px 10px 10px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .cardtitle {
    height: 15px;
  }
  .cardphoto {
    width: 125px;
    height: 125px;
  }
  .cardbtns {
    width: 190px;
    height: 25px;
  }
  .myform3 {
    width: 200px;
    height: 300px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);
  }
  .myform4 {
    width: 200px;
    height: 350px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);

  }
  .usersettings {
    width: 512px;
    height: 384px;
    box-shadow: 0 1px 5px 2.5px rgba(3, 4, 94, 0.3);

  }
  .settingsinsideleft {
    width: 256px;
    height: 384px;
  }
  .settingsinsideright {
    width: 256px;
    height: 384px;
  }
  .settingsinside {
    width: 256px;
    height: 192px;
  }
  .settingscontent {
    width: 256px;
    height: 32px;
  }
  ::-webkit-file-upload-button {
    padding: 5px 10px;
    margin: 5px;
    border-radius: 10%/50%;
    font-size: 0.9em;
    background-color: #00b4d8;
    color: #caf0f8;
    border: 1px solid #caf0f8;
    box-shadow: 0px 4px 7.5px rgba(0, 119, 182, 0.3);
    transition: all 0.3s ease 0s;
  }
  ::-webkit-file-upload-button:hover {
    background-color: #caf0f8;
    color: #00b4d8;
    border: 1px solid #00b4d8;
    box-shadow: 0px 4px 7.5px rgba(0, 0, 0, 0.1);
    background-image: url("https://www.transparenttextures.com/patterns/paper.png");
    cursor: pointer;
}
}

/* 
@media only screen and (max-width: 600px) {
  .mainsection {
    display: flex;
    flex-direction: column;
  }
  .mymainform {
    flex-direction: column;
  }
  .myadds {
    flex-direction: column;
  }
}
.inputtextarea {
  font-size: 1em;
}
.formitem3 {
  height: 40%;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
table {
  border-collapse: collapse;
  border: 1px solid orange;
}
tr {
  width: auto;
  height: 70px;
}
td {
  background-color: #caf0f8;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  text-align: center;
  border: 2px solid #00b4d8;
} */
