body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.landing {
  background: url("./images/road1.jpg") no-repeat center center/cover;

  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logcard {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  width: 80%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(231, 230, 195);
  font-size: 1.5em;
  text-shadow: 2px 2px black;
}

.logform {
  width: 80%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  font-size: 1em;
}

.mylink {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 15px;
  text-decoration: none;
  background-color: rgba(211, 192, 28, 0.5);
  border-radius: 10%/50%;
  color: rgb(231, 230, 195);
  border: 2px solid rgb(231, 230, 195);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.mylink:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
  transform: translate(2px);
  background-color: rgb(231, 230, 195, 0.9);
  padding: 10px 20px;
  color: rgba(211, 192, 28, 1);
  border: 2px solid rgba(211, 192, 28, 1);
}

.login {
  width: 100vw;
  height: 100vh;
  background-color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.myform {
  width: 400px;
  height: 400px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.formitem {
  width: 80%;
  height: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
}
.item {
  height: 30%;
  font-size: 1em;
  text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
}
.loginbtn {
  padding: 10px 40px;
  border-radius: 10%/50%;
  font-size: 1em;
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  transition: all 0.3s ease 0s;
}
.loginbtn:hover {
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
input {
  padding: 10px 0;
  background-color: #00b4d8;
  border-radius: 5%;
  box-decoration-break: inherit;
  font-size: 1em;
  color: #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  border: 2px solid #caf0f8;
  border-radius: 5%;
  text-align: center;
}

input:focus {
  outline: none;
}
.myform2 {
  width: 400px;
  height: 600px;
  background-color: #caf0f8;
  border-radius: 5%;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}
.mainsection {
  width: 100vw;
  height: 100vh;
  background-color: #00b4d8;
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
}
.mynavbar {
  width: 100%;
  height: 60px;
  background-color: #caf0f8;
  color: #00b4d8;
  box-shadow: 0 2px 10px 5px rgba(3, 4, 94, 0.3);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.navbuttons {
  display: flex;
  width: 450px;
  flex-direction: row;
  justify-content: space-evenly;
}
.navtitle {
  width: 150px;
  height: 50px;
  align-items: center;
  text-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  font-size: 1em;
  display: flex;
  justify-content: center;
}
.navbtnmain {
  display: flex;
  align-items: center;
}

.loginbtn {
  padding: 10px 30px;
  border-radius: 10%/50%;
  font-size: 0.9em;
  background-color: #00b4d8;
  color: #caf0f8;
  border: 2px solid #caf0f8;
  box-shadow: 0px 8px 15px rgba(0, 119, 182, 0.3);
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.loginbtn:hover {
  background-color: #caf0f8;
  color: #00b4d8;
  border: 2px solid #00b4d8;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  background-image: url("https://www.transparenttextures.com/patterns/paper.png");
}

.mymainform {
  width: 800px;
  height: 400px;
  background-color: bisque;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selectbtn {
  /* appearance: none; */
  /* display: block; */
  outline: none;
  width: 100%;
  line-height: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
}

.rooti {
  --select-border: #777;
  --select-focus: red;
  --select-arrow: var(--select-border);
}
rooti:hover {
  background-color: aqua;
}
